.superHost {
    margin: 10px 15px 10px 0px;
    padding: 2px 0 0 7px;
}

.false {
    display: none;
}

.containerCards:hover {
    .superHost {
        background-color: #eb5757e5;
        border: none;
        color: white;
        transition: 0.4s;
    }

}